@import "../../assets/styles.scss";
*{
    padding: 0;
    margin: 0;
}

.menu{
    width: 231px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    padding: 4px 32px;
    font-family: $font-primary;
    z-index: 9999;
    &__top{
        display: flex;
        width: 234px;
        height: 34px;
        justify-content: flex-end;
        padding: 10px 48px 16px 10px;
        margin: 10px;
    }
    &>ul{
        &>li{
            list-style: none;
            border-radius: 10px;
            width: 215px;
            padding: 4px 8px;
            margin: 0px 0px 8px;
            font-size: 15px;
            cursor: pointer;
            font-weight: 600;
            &:hover{
                background-color: lightgrey;
                transition-delay: 0.1s;
            }
        }
    }
}

.header{
    font-family: $font-primary;
    color: $text-color1;
    font-weight: 900;
    // font-weight: bold;
    background-color: transparent;
    height: 54px;
    width: 100vw;
    justify-content: space-between;
    display: flex; 
    font-size: 15px;
    position: fixed;
    top: 0;
    &__logo{
        display: flex;
        align-items: center;
        padding-left: 32px;
        width: 336.72px;
        &-teslaLogo{
            padding: 0 8px 0px 16px;
            width: 119.83px;
            height: 15.25px;
        }
    }
    &__center{
        display: flex;
        align-items: center;
        &>ol{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            &>li{
                padding: 4px 8px;
                margin: 0 8px;
                list-style-type: none;
                overflow-x: none;
                min-width: 58px;
                cursor: pointer;
            }
        }
    }
    &__right{
        display: flex;
        align-items: center;
        padding-right: 32px;
        justify-content: flex-end;
        &>ol{
            display: flex;
            flex-direction: row;
            &>li{
                padding: 4px 8px;
                margin: 0 8px;
                list-style-type: none;
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    .header{
        &__center{
            display: none;
        }
        &__right{
            &>ol{
                .toDisappear{
                    display: none;
                }
            }
        }
    }
}